@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <form asp-action="Index" method="get" class="pagination justify-content-center">
        <ul class="pagination">
            <!-- Nút Previous -->
            <li class="page-item">
                <button type="submit" name="pageChange" value="-1" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </button>
            </li>

            <!-- Ô nhập Current Page -->
            <li class="page-item">
                <input type="number" id="currentPage" class="form-control" name="currentPage" value="@ViewBag.CurrentPage" min="1" style="width: 100px;">
            </li>

            <!-- Ô hiển thị Last Page (chỉ đọc) -->
            <li class="page-item">
                <input type="number" id="lastPage" class="form-control" readonly value="@ViewBag.LastPage" style="width: 100px;">
            </li>

            <!-- Nút Next -->
            <li class="page-item">
                <button type="submit" name="pageChange" value="1" class="page-link" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </button>
            </li>
        </ul>
    </form>
</table>
